$primary: #3740ff;
$primary-dark: #272eb5;
$primary-light: #3740ff;
$primary-x-light: #e8f0fe;
$light: #ffffff;
$dark: #202124;
$off-white: #f3f4f4;
$mid: #5f6368;
$mid-dark: #3c4043;
$stroke: #dadce0;

$color: (
	'primary': $primary,
	'primary-dark': $primary-dark,
	'primary-light': $primary-light,
	'primary-x-light': $primary-x-light,
	'light': $light,
	'dark': $dark,
	'off-white': $off-white,
	'mid': $mid,
	'mid-dark': $mid-dark,
	'stroke': $stroke,
);
