@use 'sass:math';

@use '_fonts';
@use '_reset';
@use '_scale' as s;
@use '_color';
@use '_layout' as l;

$border-radius: 3px;
$font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
$generic-shadow:
	0px 1px 2px rgb(60 64 67 / 0.3),
	0px 2px 6px 2px rgb(60 64 67 / 0.15);
$gutter: s.$s1;
$box-max-inline-size: 40rem;
$cover-block-size: 22rem;

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: color.$dark;
	line-height: 1.55;
	letter-spacing: 0.03ch;
}

body {
	font-family:
		system-ui,
		-apple-system,
		sans-serif;
	margin: 2em;
}

code {
	padding: 0.125em 0.25em;
	background-color: color.$off-white;
	border: 1px solid color.$stroke;
	font-family: $font-mono;
	font-size: 0.85em;
	hyphens: none;
	tab-size: 2;
	text-align: left;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	box-decoration-break: clone;
}

main {
	width: clamp(16rem, 90vw, 70rem);
	margin-left: auto;
	margin-right: auto;
	padding-right: $gutter;
	padding-left: $gutter;
}

@mixin flow($space: 1rem) {
	& > * + * {
		margin-top: $space;
	}
}

.flow {
	@include flow(2em);
}

.callout {
	padding: s.$s0 s.$s0 s.$s0 3rem;
	background-color: color.$primary-x-light;
	border: 1px solid color.$primary-dark;
	color: color.$primary-dark;
	max-width: 40rem;

	@include flow;
}

.container {
	background-color: color.$stroke;
	border-radius: $border-radius;
	padding: 0.5em;
	max-inline-size: 600px;
}

%box {
	padding: s.$s0;
	background-color: color.$off-white;
	border: 1px solid color.$stroke;
	box-shadow: $generic-shadow;
	font-weight: 500;
	max-inline-size: $box-max-inline-size;

	&.box--tall {
		min-block-size: 6em;
	}

	&.box--wide.box--wide {
		min-inline-size: 70%;
	}

	&.box--dark {
		background-color: color.$stroke;
		border: 1px solid color.$off-white;
	}
}

.box {
	@extend %box;
	text-align: center;
}

.box-no-center {
	@extend %box;
}

// --- stack

.l-stack {
	@include l.stack;
}

.l-stack-large {
	@include l.stack($space: s.$s2);
}

.l-stack-small {
	@include l.stack($space: s.$s0);
}

// --- box

%l-box {
	--color-dark: #{color.$dark};
	--color-light: #{color.$off-white};
	--border-thin: 1px;
	--s1: #{s.$s1};
}

.l-box {
	@extend %l-box;
	@include l.box;
}

.l-box-no-padding {
	@extend %l-box;

	@include l.box($padding: 0);
}

.l-box-outline {
	@extend %l-box;

	@include l.box($outline: true);
}

// --- center

.l-center {
	@include l.center($max-inline-size: max-content);
}

.l-with-sidebar-centered {
	@include l.with-sidebar($content-min: 66.666%, $side-width: 14ch);

	& > ul {
		margin-block: 0;
	}

	& .l-with-sidebar-centered__center {
		@include l.center($max-inline-size: 28ch);
	}
}

.l-cover-centered {
	@include l.cover(
		$min-height: $cover-block-size,
		$centered: '.l-cover-centered__center'
	);

	&__center {
		--measure: 60ch;
		@include l.center($intrinsic: true);
	}
}

// --- cluster

.l-cluster {
	@include l.cluster;
}

.l-cluster-header {
	@include l.cluster($justify: space-between, $align: center);
}

// --- sidebar

.l-with-sidebar-left-top {
	@include l.with-sidebar;
}

.l-with-sidebar-right-bottom {
	@include l.with-sidebar($left: false, $content-min: 70%);
}

.l-with-sidebar-no-stretch {
	@include l.with-sidebar($content-min: 70%, $no-stretch: true);
}

// --- switcher

.l-switcher {
	@include l.switcher($min-inline-size: 60ch);
}

// --- cover

.l-cover {
	@include l.cover($min-height: 22rem, $centered: '.l-cover__principal');
}

.l-cover__principal {
	display: flex;
	justify-content: center;
	align-items: center;
}

// --- grid

.l-grid {
	@include l.grid($min-column-width: 20ch);
}

// --- frame
.l-frame {
	@include l.frame($n: 16, $d: 9, $position: '0 16%');
}

// --- reel

$reel-color: #006b9e;

.l-reel {
	@include l.reel($track-color: color.$stroke, $thumb-color: $reel-color);
}

.l-reel-no-bar {
	@include l.reel($no-bar: true);
}

.sausage-links {
	& > * {
		white-space: nowrap;
	}

	& a,
	& a:visited {
		border: 1px solid #3a6fb6;
		border-radius: 3rem;
		color: $reel-color;
		background-color: #f9f9f9;
		padding: 0.6rem 0.9rem;
		text-decoration: none;

		&:hover {
			border-color: #07254a;
			background-color: #ebf5ff;
			box-shadow: 0 2px 4px rgb(0 90 156 / 0.15);
		}
	}
}
