@use '_fonts';
@use '_reset';
@use '_scale' as s;
@use '_color';
@use '_layout' as l;

$border-radius: 3px;
$font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
$generic-shadow:
	0px 1px 2px rgb(60 64 67 / 0.3),
	0px 2px 6px 2px rgb(60 64 67 / 0.15);
$gutter: s.$s1;

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: color.$dark;
	line-height: 1.55;
	letter-spacing: 0.03ch;
}

body {
	font-family:
		system-ui,
		-apple-system,
		sans-serif;
	margin: 2em;
}

code {
	padding: 0.125em 0.25em;
	background-color: color.$off-white;
	border: 1px solid color.$stroke;
	font-family: $font-mono;
	font-size: 0.85em;
	hyphens: none;
	tab-size: 2;
	text-align: left;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	box-decoration-break: clone;
}

main {
	width: clamp(16rem, 90vw, 70rem);
	margin-left: auto;
	margin-right: auto;
	padding-right: $gutter;
	padding-left: $gutter;
}

@mixin flow($space: 1rem) {
	& > * + * {
		margin-top: $space;
	}
}

.flow {
	@include flow(2em);
}

.callout {
	padding: s.$s0 s.$s0 s.$s0 3rem;
	background-color: color.$primary-x-light;
	border: 1px solid color.$primary-dark;
	color: color.$primary-dark;
	max-width: 40rem;

	@include flow;
}

.container {
	background-color: color.$stroke;
	border-radius: $border-radius;
	padding: 0.5em;
	max-inline-size: 600px;
}

.box {
	padding: s.$s0;
	background-color: color.$off-white;
	border: 1px solid color.$stroke;
	box-shadow: $generic-shadow;
	font-weight: 500;
	text-align: center;
	max-width: 40rem;

	&.box--tall {
		min-height: 6em;
	}

	&.box--wide.box--wide {
		min-width: 70%;
	}
}

// --- stack

.l-stack {
	@include l.stack;
}

.l-stack-large {
	@include l.stack($space: s.$s2);
}

.l-stack-small {
	@include l.stack($space: s.$s0);
}

// --- cluster

.l-cluster {
	@include l.cluster;
}

.l-cluster-header {
	@include l.cluster($justify: space-between, $align: center);
}

// --- sidebar

.l-with-sidebar-left-top {
	@include l.with-sidebar;
}

.l-with-sidebar-right-bottom {
	@include l.with-sidebar($left: false, $content-min: 70%);
}

.l-with-sidebar-no-stretch {
	@include l.with-sidebar($content-min: 70%, $no-stretch: true);
}

// --- switcher

.l-switcher {
	@include l.switcher($min-inline-size: 60ch);
}

// --- cover

.l-cover {
	@include l.cover($min-height: 22rem, $centered: '.l-cover__principal');
}

.l-cover__principal {
	display: flex;
	justify-content: center;
	align-items: center;
}

// --- grid

.l-grid {
	@include l.grid($min-column-width: 20ch);
}

// --- frame
.l-frame {
	@include l.frame($n: 16, $d: 9, $position: '0 16%');
}
